extends baseEmail

block content
  p Hi #{firstName},
  p You recently took an #{examName} and you scored #{score}
  p Congratulations! You have earned your #{examNames} on Fetena.com.

  p To view your completed exam’s score report and associated result, please login to your Fetena.com account, 
  p Sign in to your Fetena.com Account to take advantage of the following benefits associated with Fetena.com
  
  p Claim and Share Your Digital certificate on platforms like LinkedIn
  p Showcase your Fetena.com Certification achievement with your digital certificares on your social media profile, in email signatures, and more. Take advantage of flexible options for recognition and verification.

  p Get Support for Your Next Challenge
  p Prepare for your next Fetena.com Certification with Fetena.com training and practice resources. From the Explore all Fetena.com exams page, select an exam to find resources to help you prepare.When you’re ready to take your next Fetena.com Certification exam.
  
  p Become an Examiner
  p You’ve passed an exam. Can you help us create more exams? Fetena.com is looking for Subject Matter Expert SMEs to help make exams more rich , develop questions, and determine passing scores.
  
  p Show Your Achievement
  p You can review your digital certificates in your Account.
  
  p Fetena.com